@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-breaker {
    white-space: pre-wrap;
}

.custom-grid-cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media only screen and (max-width: 768px) {
    .custom-grid-cols {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}